{% extends "index/a_base.html" %}


{% block left %}

<!-- Widget [Categories Widget]-->
<div class="widget categories">
  <header>
    <h3 class="h6">诗词</h3>
  </header>
  <div class="item d-flex justify-content-between"><a href="{% url 'poetry:shijing' %}">诗经</a><span>305</span></div>
  <div class="item d-flex justify-content-between"><a href="{% url 'poetry:ci' %}">全宋词</a><span>21050</span></div>
</div>

<p>
  数据来自: <a href="https://github.com/chinese-poetry/chinese-poetry">Github 上的中华古诗词数据库</a>
</p>
{% endblock left %}