{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">
{% include "index/head.html" %}
<body>
    {% include "index/header.html" %}
    <div class="container">
        <!-- 左右分用这个 left:right = 4:8  -->
        <div class="row">
            <!-- 这是左边, 占 4/12-->
            <aside class="col-lg-4">
                {% block left %}
                {% endblock left %}
            </aside>
            <!-- Latest Posts 这是右边, 占 8/12-->
            <main class="posts-listing col-lg-8">
                <div class="container">
                    {% block right %}
                    {% endblock right %}
                </div>
            </main>
        </div>
    </div>
    {% include "index/javascript.html" %}
</body>

</html>