{% load static %}
<!DOCTYPE html>
<!-- Page Footer-->
<footer class="main-footer">
  <div class="copyrights">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <p>Copyright &copy; 2020 <a href="{% url 'index:index' %}">鯖鯖</a> <a
              href="{% url 'index:index' %}">saba.fun</a> All
            Rights Reserved. ZQW </p>
        </div>
        <div class="col-md-4 text-center">
          <a href=" http://www.beian.miit.gov.cn/">京ICP备20004524号</a>
        </div>
        <div class="col-md-4 text-center">
          相濡以沫，不如相忘于江湖。
        </div>
      </div>
    </div>
  </div>
</footer>